<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sine</title>
  </head>
  <body>
    <%= render "shared/user_form",
      headline: "Please sign into your Sine accout",
      action: session_url,
      button_text: "Sine In"  %>
  </body>
</html>
