<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sine</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="<%= users_url %>" method="post">

      <label>Username
        <input type="text" name="user[username]" value="">
      </label>
      <label>Password
        <input type="password" name="user[password]" value="">
      </label>

      <%= button_to "create"%>
    </form>
  </body>
</html>
