<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sine</title>
  </head>
  <body>
    <%= render "shared/user_form",
      headline: "Create your Sine account",
      action: users_url,
      button_text: "Sign Up"  %>
    </form>
  </body>
</html>
