/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  vertical-align: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  background: #eee;
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline;
  float: left;
  margin: 0 10px;
}



/* --- CLEARFIX --- */

.group:after {
  clear: both;
  display: block;
  content: "";
}

/* --- HEADER --- */

header {
  position: fixed;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #00BF8F;
  z-index: 10;
}

.navbar {
  padding: 20px;
}


.nav-bar-icons {
  position: absolute;
  display: inline;
  margin: 5px;
}

.nav-bar-icon {
  font-size: 20px;
  color: #aaa;
  opacity: 75%;
  left: 0;
  margin-left: 40px;
}

.nav-bar-icon:hover {
  color: #000;
  cursor: pointer;
}

.username {
  display: inline;
}

.signed-in > form {
  display: inline;
}

.button {
  background-color: #00BF8F;
  color: #fff;
  padding: 4px 10px;
  border-radius: 100000px;
  cursor: pointer;
}

.profile-picture {
  margin-top: -10px;
  margin-right: 20px;
}

.nav-bar-right {
  float: right;
  margin-top: 7px;
  margin-right: 65px;
}

.nav-bar-right > p {
  display: inline;
  background-color: #00BF8F;
  color: #fff;
  padding: 4px 20px;
  border-radius: 100000px;
  cursor: pointer;
}

.nav-bar-search {
  display: block;
  float: left;
  font-size: 12px;
  width: 170px;

  background-color: #e4e4e4;
  padding: 5px 30px 4px 10px;
  margin: 0 10px;
  border-radius: 100000px;
}

/* --- SIGN IN FORM --- */


.modal-container {
  background-color: transparent;
}

.modal-cover {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: .5;
}

.modal {
  position: fixed;
  left: calc(50% - 210px);
  top: 200px;
  width: 420px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  z-index: 150;
}

.sign-in > h1 {
  text-align: center;
  color: #00BF8F;
  font-size: 60px;
  font-family: fantasy;
  margin-top: 10px;
}

.sign-in > h2 {
  text-align: center;
  color: #9B9B9B;
  font-size: 16px
}

.textbox {
  display: block;
  background: #E4E4E4;
  margin: 10px auto;
  padding: 0 10px;
  height: 30px;
  width: 360px;
  font-size: 12px;
  border-radius: 5px;
}

.form-button {
  background-color: #00BF8F;
  color: #FFF;
  padding: 4px 10px;
  margin: 10px;
  border-radius: 500px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.form-buttons {
  margin: 10px auto;
  text-align: center;
  display: block;
}

/* --- FEED --- */

.feed {
  width: 535px;
  margin: auto;
  padding-top: 100px;
}

.empty-feed {
  width: 600px;
  text-align: center;
  color: #aaa;
  font-size: 40px;
}

/* --- SIGN UP FORM --- */

.sign-up {
  width: 420px;
  left: calc(50% - 210px);
  text-align: center;
}

.sign-up .profile-picture {
  width: 80px;
  height: 80px;
  margin: 25px auto;
  float: none;
  display: block;
}

.file-upload {
  margin: 10px;
  height: 30px;
}

.sign-up .form-button {
  margin-bottom: 10px;
}

.sign-up > h2 {
  color: #aaa;
  font-size: 40px;
  margin: 20px auto;
}

/* --- VIDEO UPLOAD VIEW --- */


.video-upload > h2 {
  text-align: center;
  color: #9B9B9B;
  font-size: 16px;
  margin: 10px;
}

.upload-preview {
  display: block;
  margin: auto;
}

.video-upload .form-button {
  margin-bottom: 10px;
}
/* --- LOOP FEED VIEW --- */

.loop-box-show-container {
  padding-top: 75px;
}

.loop-box {
  width: 535px;
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
}

.volume {
  position: absolute;
  top: 100px;
  left: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
  z-index: 5;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.loop-info {
  padding: 20px 0 0 20px;
}

.loop {
  margin-top: 20px;
  width: 535px;
}

.created_at {
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
}

.title{
  font-size: 18px;
  width: 500px;
  margin: auto;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 15px;
}

.created_at:hover{
  color: #000;
}

.comment-box {
  border-radius: 5px;
  background-color: #EDEDED;
  width: 480px;
  margin-top: 10px;
  margin-left: 17px;
  margin-bottom: 10px;
}

.loop-box > form > input[type=text] {
  padding: 10px;
  font-size: 12px;
}

.author {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author:hover{
  color: #00BF8F;
}

.loop-box .profile-picture {
  float: left;
  margin-right: 10px;
}

.delete-icon {
  border: 1px solid #aaa;
  font-size: 20px;
  color: #aaa;
  float: right;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
}

.delete-icon:hover {
  border-color: red;
  color: red;
}

.loop-icons {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin: 10px 20px;
  color: #aaa;
}

.loop-icons > p {
  display: inline;
  margin: 10px;
  cursor: pointer;
}

.loop-icons > i {
  font-style: normal;
  font-size: 12px;
  color: #aaa;
  margin-right: 20px;
}

.like-icon:hover{
  color: red;
}

.repost-icon:hover{
  color: #00BF8F;
}

/* --- LOOP SHOW VIEW --- */

.loop-box-show {
  width: 864px;
  margin: auto;
  background-color: #FFF;
  position: relative;
  margin-top: 100px;
}

.loop-box-show .loop {
  display: block;
  margin: 0;
}

.loop-box-show .volume {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
  z-index: 100;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.show-card {
  float: right;
  width: 324px;
}

.show-card .title {
  margin-top: 25%;
  display: block;
  border: none;
}

.show-card > form {

  border-top: 1px solid #eee;
  width: 300px;
  position: absolute;
  bottom: 0;
  margin-left: 10px
}

.show-card > form > input[type=text] {
  padding: 10px;
  font-size: 12px;
  width: 285px;
}

.show-card .comment-box {
  margin-left: 0;
}

.show-card .profile-picture {
  float: none;
  margin-bottom: 10px;
  display: block;
}

.show-card .loop-icons {
  border-bottom: none;
}
