/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  vertical-align: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  background: #eee;
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


/* --- CLEARFIX --- */

.group:after {
  clear: both;
  display: block;
  content: "";
}

/* --- HEADER --- */

header {
  position: fixed;
  display: block;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #00BF8F;
  z-index: 1000;
}

.navbar {
  padding: 20px;
}

.signed-out {
  float: right;
  margin-top: 2px;
  margin-right: 40px;
}

.signed-out > a {
  background-color: #00BF8F;
  color: #fff;
  padding: 4px 10px;
  border-radius: 100000px;
  margin: 5px;
}

.fa-eye {
  position: absolute;
  font-size: 20px;
  color: #aaa;
  opacity: 75%;
  left: 0;
  margin-left: 40px;
}

.fa-eye:hover {
  color: #000;
}

.username {
  display: inline;
}

.signed-in > form {
  display: inline;
}

.button{
  background-color: #00BF8F;
  color: #fff;
  padding: 4px 10px;
  border-radius: 100000px;
  cursor: pointer;
}



/* --- USER FORM --- */

.userform-partial {
  width: 420px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.userform-partial > h1 {
  text-align: center;
  color: #00BF8F;
  font-size: 60px;
  font-family: cursive;
}

.userform-partial > h2 {
  text-align: center;
  color: #9B9B9B;
  font-size: 16px
}

.textbox {
  display: block;
  background: #E4E4E4;
  margin: 10px auto;
  padding: 0 10px;
  height: 30px;
  width: 360px;
  font-size: 12px;
  border-radius: 5px;
}

.form-button {
  background-color: #00BF8F;
  color: #FFF;
  padding: 4px 10px;
  margin: 0 0 10px 330px;
  border-radius: 500px;
  cursor: pointer;
}

/* --- FEED --- */

.feed {
  width: 535px;
  margin: auto;
  padding-top: 75px;
}

/* --- LOOP FEED VIEW --- */

.loop-box-show-container {
  padding-top: 75px;
}

.loop-box {
  width: 535px;
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
}

.volume {
  position: absolute;
  top: 100px;
  left: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
  z-index: 100;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.loop-info {
  padding: 20px 0 0 20px;
}

.loop {
  margin-top: 20px;
  width: 535px;
}

.created_at {
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
}

.title{
  font-size: 18px;
  width: 500px;
  margin: auto;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.created_at:hover{
  color: #000;
}

.comment-box {
  border-radius: 5px;
  background-color: #EDEDED;
  width: 480px;
  margin-top: 10px;
  margin-left: 17px;
  margin-bottom: 10px;
}

.loop-box > form > input[type=text] {
  padding: 10px;
  font-size: 12px;
}

.author {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author:hover{
  color: #00BF8F;
}

.profile-picture {
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline
}


/* --- LOOP SHOW VIEW --- */

.loop-box-show {
  width: 864px;
  margin: auto;
  background-color: #FFF;
  position: relative;
}

.loop-box-show .loop {
  display: block;
  margin: 0;
}

.loop-box-show .volume {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
  z-index: 100;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.show-card {
  float: right;
  width: 324px;
}

.show-card .title {
  margin-top: 25%;
  display: block;
  border: none;
}

.show-card > form {

  border-top: 1px solid #eee;
  width: 300px;
  position: absolute;
  bottom: 0;
  margin-left: 10px
}

.show-card > form > input[type=text] {
  padding: 10px;
  font-size: 12px;
  width: 285px;
}

.show-card .comment-box {
  margin-left: 0;
}

.profile-picture {
  float: none;
  margin-bottom: 10px;
  display: block;
}
